{% extends 'base.html.twig' %}

{% block title %}
  {{ type|capitalize }} Events
{% endblock %}

{% block body %}
  <h1 class="text-center my-3 txt-pink">{{ type|capitalize }} Events</h1>

  {% if events is not empty %}
    <div class="row row-cols-md-3">
      {% for event in events %}
        <div class="">
          <div class="card mb-3 event-card bg-turq p-1">
            <img class="card-img-top h-50 object-fit-cover" src="{{ event.image }}" alt="{{ event.name }}" />
            <div class="card-body">
              <h5 class="card-title text-center">{{ event.name }}</h5>
              <div class="row">
                <div class="col col-8 d-flex align-items-end">
                  <p class="card-text">Date: {{ event.dateStart ? event.dateStart|date('Y-m-d') : '' }}</p>
                </div>
                <div class="col col-4 d-flex justify-content-end align-items-end">
                  <a href="{{ path('app_event_show', { id: event.id }) }}" class="btn btn-outline-dark">Info</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  {% else %}
    <p class="text-center">No events found for {{ type }}.</p>
  {% endif %}
{% endblock %}
