<nav class="navbar navbar-expand-lg navbar-dark bg-dark p-3 mb-2 bg-black justify-content-between">
  <a class="navbar-brand" href="{{ path('app_event_index') }}">All Events</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

  <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
    <div>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{{ path('app_event_type', { type: 'music' }) }}">Music</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('app_event_type', { type: 'comedy' }) }}">Comedy</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('app_event_type', { type: 'movies' }) }}">Movies</a>
        </li>
      </ul>
    </div>
    <div class="nav-item">
      <a class="nav-link" href="{{ path('app_event_new') }}">Add Event</a>
    </div>
  </div>
</nav>
